.container{
    width: 100%;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
}
a { color: inherit; } 

.hijo{
    font-size: 2rem;
}

