.containerPadre{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(200, 90, 90); */
    background-image: url('https://i.ibb.co/Qd5KrgP/imageedit-1-6094451759.jpg');

    display: flex;
    align-items: center;
    justify-content: center;
}

.subContainer{
    height: 80vh;
    width: 50%;
    border-radius: 30px;
    background: #e0e0e0e0;
    box-shadow: 15px 15px 30px #bebebe95,
                -15px -15px 30px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px
}

.red{
    color: red;
}