.nums{
    display: flex;
    gap: 2.5rem;  
    margin-top: 10px; 

}

.button {
    background: #FBCA1F;
    font-family: inherit;
    padding: 0.1em 1em;
    font-weight: 900;
    font-size: 15px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   .button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   .button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   .containerPadre{
    display: flex;
    justify-content: center;
   }
